h1{
    color: #2296c7;
    font-size: 40px;
    font-family: helvetica, sans-serif;
    text-align: center;
}

H2{
    color:green;
    font-family: helvetica, sans-serif;
    text-align: left;
}

h3{
  font-family: comic sans, comic Sans Ms, cursive;
}

P{
    font-weight: 800;
    text-decoration: line-through;
}

table{
    font-family: helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #2695A6;
} 

th{
    font-weight: 800;
    background-color: #2695A6;
    color: #ffffff;
}

tr .alt td{
    background-color:#9aeffc ;
}

ul{
    list-style-type: circle
}

ol{
    list-style-type: upper-roman; 
}

#menu-bar a{
    font-family: helvetica, sans-serif;
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
}

ul{
    list-style-image: url('images/pointer-icon.png');
}

#menu-bar a :hover{
    background-color: aqua;
    color: #ffffff;
}

P{
    color:coral;
    font-family: fantasy;
}